body {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  color: #4d5055 !important;
}

.page-top {
  height: 4rem;
  background-color: #393034 !important;
  color: #fff;
  margin-bottom: 1rem;
}

.event-card {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}

.event-card:hover{
  background: #f5f5f5;
}

.user-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius:  5px;
  border-top-width: 6px;
  border-top-color: #e0c4d0;
  padding: 1rem;
  margin-top: 1rem;
}

.event-past-future {
  color: #ccc;
  font-size: 0.8rem;
}

#calendly-url {
  font-size: 0.9rem;
  padding-top: 1rem;
}

#calendly-name {
  font-size: 1.2rem; 
}

.event-invitee-email {
  font-size: 0.8rem;
  padding-top: 0.5rem;
}
